@charset "UTF-8";
/* ===========================================================
    Foundation
=========================================================== */
/* =========================
    Variables
========================= */
/* =========================
    Base
========================= */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

/* ===========================================================
    Layout
=========================================================== */
.page-section {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 80px 80px 80px;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 100;
}
.header__inner {
  max-width: 1366px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__logo {
  display: block;
  width: 173px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}

.footer__contact {
  background-image: url(img/common/bg_pattern_02.png), linear-gradient(to right, #236DE3, #6EE2F5);
}
.footer__contact .page-section {
  padding-top: 60px;
}
.footer__nav {
  color: #FFFFFF;
  background-color: #236DE3;
}
.footer__nav .page-section {
  padding-top: 50px;
}
.footer__nav a {
  text-decoration: none;
}
.footer__list {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__logo {
  text-decoration: none;
}
.footer__sublist {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}
.footer__subitem {
  list-style: none;
}
.footer__subitem::before {
  content: "-";
  margin-right: 2px;
  margin-left: -40px;
}
.footer__copyright {
  background-color: #236DE3;
  padding: 20px 0;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
}

@media (max-width: 895px) {
  .header__logo {
    width: 120px;
  }
}
/* ===========================================================
    Component
=========================================================== */
.drawer {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  color: #FFFFFF;
  background: linear-gradient(to bottom, #236DE3, #6EE2F5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease;
}
.drawer__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 190px;
}
.drawer.page-section {
  padding-top: 50px;
}
.drawer a {
  text-decoration: none;
}
.drawer.is-open {
  opacity: 1;
  visibility: visible;
}
.drawer.is-open .drawer__item {
  opacity: 1;
  transform: translateY(0);
}
.drawer__list {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.drawer__item {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.5s ease;
  font-size: 20px;
}
.drawer__logo {
  text-decoration: none;
}
.drawer__sublist {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}
.drawer__subitem {
  list-style: none;
}
.drawer__subitem::before {
  content: "-";
  margin-right: 2px;
  margin-left: -40px;
}

.menu-button {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 300;
}
.menu-button:hover {
  opacity: 1;
}
.menu-button__bar {
  width: 18px;
  height: 2px;
  background-color: #236DE3;
  transition: all 0.4s ease, opacity 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
}
.menu-button {
  /* ボタンが閉じた状態 */
}
.menu-button__bar:nth-child(1) {
  transform: translate(-50%, -12px) rotate(0deg);
}
.menu-button__bar:nth-child(2) {
  transform: translate(-50%, 0) rotate(0deg);
}
.menu-button__bar:nth-child(3) {
  transform: translate(-50%, 12px) rotate(0deg);
}
.menu-button {
  /* ボタンが開いた状態 */
}
.menu-button.is-open .menu-button__bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-button.is-open .menu-button__bar:nth-child(2) {
  opacity: 0;
}
.menu-button.is-open .menu-button__bar:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  border-radius: 50px;
  border: 2px solid transparent;
  text-decoration: none;
  transition: all 0.3s ease;
}
.button:hover {
  opacity: 0.8;
}
.button--full {
  display: flex;
}
.button--white {
  background-color: #FFFFFF;
  color: #236DE3;
  font-weight: bold;
}
.button--white:hover {
  background-color: #236DE3;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  margin-bottom: 40px;
}
.section-header__title {
  font-size: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #236DE3;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0;
}
.section-header__lead {
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.section-header__lead::before {
  content: "ー";
  font-weight: normal;
  margin-right: 4px;
}
.section-header--white .section-header__title,
.section-header--white .section-header__lead {
  color: #FFFFFF;
}
.section-header--white .section-header__lead::before {
  content: "";
}

@media (max-width: 895px) {
  .menu-button {
    width: 40px;
    height: 40px;
  }
  .menu-button__bar {
    width: 12px;
  }
  .section-header__title {
    font-size: 32px;
    letter-spacing: 5px;
  }
}
/* ============================================================
    Project
============================================================ */
.hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  display: flex;
}
.hero__left {
  flex: 0 0 550px;
  background: linear-gradient(to bottom, #236DE3, #6EE2F5);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}
.hero__right {
  flex: 1;
  background-image: url("./img/top/mv_pc.jpg");
  background-size: cover;
  background-position: center;
}
.hero__title {
  color: #FFFFFF;
  z-index: 3;
  font-size: 40px;
  line-height: 1.5;
  text-shadow: 0px 0px 5px #0E5ED3;
}
.hero__description {
  color: #FFFFFF;
  z-index: 3;
  font-size: 16px;
  line-height: 2;
  font-weight: bold;
  text-shadow: 0px 0px 5px #0E5ED3;
}

.vision__image {
  max-width: 1000px;
  width: 100%;
  background-image: url("./img/top/vision.jpg");
  background-size: contain;
  background-position: center;
  border-radius: 16px;
}
.vision__content {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}
.vision__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8;
}

.mission {
  background-color: #F7F9FC;
}
.mission__list {
  list-style: none;
}
.mission__list--numbered {
  counter-reset: mission-counter;
}
.mission__list--numbered li {
  counter-increment: mission-counter;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.mission__list--numbered li::marker {
  content: counter(mission-counter, decimal-leading-zero) " /  ";
  font-size: 15px;
  font-weight: normal;
}
.mission__text {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
}
.mission__signature-inner {
  display: flex;
  justify-content: flex-end;
}
.mission__signature-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mission__signature {
  line-height: normal;
  font-size: 15px;
}
.mission__signature-name {
  margin-top: 0;
  font-size: 25px;
  letter-spacing: normal;
  font-family: "YoMincho", serif;
}

.company__info {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 20px;
}
.company__term {
  font-weight: bold;
}
.company__term, .company__description {
  letter-spacing: 1.5px;
}
.company__list {
  margin: 0;
  padding-left: 20px;
  line-height: 1.8;
}

@media (max-width: 895px) {
  .hero {
    display: block;
    background-image: url("./img/top/mv_sp.jpg");
    background-size: cover;
    background-position: center;
  }
  .hero__left {
    background: none;
    flex: none;
    width: 100%;
    display: block;
    padding: 80px 0 0 16px;
  }
  .hero__right {
    display: none;
  }
  .hero__title {
    font-size: 32px;
  }
  .hero__description {
    font-size: 14px;
  }
  .vision__content {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */