@charset "UTF-8";
/* ===========================================================
    Foundation
=========================================================== */
/* =========================
    Variables
========================= */
/* =========================
    Base
========================= */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

/* ===========================================================
    Layout
=========================================================== */
.page-section {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 80px 80px 80px;
}

.page-title {
  width: 100%;
  height: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #236DE3, #6EE2F5);
  color: #FFFFFF;
}
.page-title__title, .page-title__sibtitle {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 3px;
}
.page-title__title {
  margin-bottom: 0;
  text-transform: uppercase;
}

.header {
  width: 100%;
  height: 80px;
  z-index: 100;
}
.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.header__inner {
  max-width: 1366px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__logo {
  display: block;
  width: 173px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}

.footer__contact {
  background-image: url(img/common/bg_pattern_02.png), linear-gradient(to right, #236DE3, #6EE2F5);
}
.footer__contact .page-section {
  padding-top: 60px;
}
.footer__nav {
  color: #FFFFFF;
  background-color: #236DE3;
}
.footer__nav .page-section {
  padding-top: 50px;
}
.footer__nav a {
  text-decoration: none;
}
.footer__list {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__logo {
  text-decoration: none;
}
.footer__sublist {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 14px;
}
.footer__subitem {
  list-style: none;
}
.footer__subitem::before {
  content: "-";
  margin-right: 2px;
  margin-left: -40px;
}
.footer__copyright {
  background-color: #236DE3;
  padding: 20px 0;
  text-align: center;
  color: #FFFFFF;
  font-size: 14px;
}

.about {
  position: relative;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.about__circle {
  position: absolute;
  z-index: -1;
}
.about__circle--1 {
  width: 20vw;
  top: 50px;
  left: -5vw;
}
.about__circle--2 {
  width: 25vw;
  top: 300px;
  right: -5vw;
}
.about__circle--3 {
  width: 30vw;
  top: 600px;
  left: -5vw;
}
.about__circle--4 {
  width: 30vw;
  top: 1200px;
  right: -5vw;
}

@media (max-width: 895px) {
  .page-title {
    height: 150px;
  }
  .page-title__title {
    font-size: 30px;
  }
  .page-title__subtitle {
    font-size: 16px;
  }
  .header__logo {
    width: 120px;
  }
}
/* ===========================================================
    Component
=========================================================== */
.drawer {
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding-bottom: 80px;
  color: #FFFFFF;
  background: linear-gradient(to bottom, #236DE3, #6EE2F5);
  opacity: 0;
  transition: opacity 0.3s ease;
  visibility: hidden;
  pointer-events: none;
}
.drawer__inner {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
  padding: 0 150px;
  text-align: left;
}
.drawer.page-section {
  padding-top: 50px;
}
.drawer a {
  text-decoration: none;
}
.drawer.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.drawer.is-open .drawer__item {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.drawer.is-open .drawer__item:nth-child(1) {
  transition: all 0.5s ease;
}
.drawer.is-open .drawer__item:nth-child(2) {
  transition: all 1s ease;
}
.drawer.is-open .drawer__item:nth-child(3) {
  transition: all 1.5s ease;
}
.drawer.is-open .drawer__item:nth-child(4) {
  transition: all 2s ease;
}
.drawer.is-open .drawer__item:nth-child(5) {
  transition: all 2.5s ease;
}
.drawer__logo {
  margin-bottom: 40px;
  width: 250px;
}
.drawer__logo img {
  width: 100%;
  height: 100%;
}
.drawer__list {
  list-style: none;
  text-transform: uppercase;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.drawer__item {
  opacity: 0;
  transform: translateX(40px);
  font-size: 25px;
  font-weight: bold;
}
.drawer__logo {
  text-decoration: none;
}
.drawer__sublist {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
}
.drawer__sublist .drawer__subitem:first-child {
  margin-top: 20px;
}
.drawer__subitem {
  list-style: none;
  font-weight: lighter;
}
.drawer__subitem::before {
  content: "-";
  margin-right: 2px;
  margin-left: -40px;
}

.menu-button {
  position: fixed;
  top: 15px;
  right: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 1px solid transparent;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 300;
}
.menu-button:hover {
  opacity: 1;
}
.menu-button__hamburger, .menu-button__close {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease, opacity 0.3s ease;
}
.menu-button {
  /* ハンバーガー */
}
.menu-button__bar {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #236DE3;
  margin: 4px 0;
  transition: transform 0.4s ease, opacity 0.3s ease;
}
.menu-button {
  /* × */
}
.menu-button__cross {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #FFFFFF;
  top: 50%;
  left: 50%;
}
.menu-button__cross:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-button__cross:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.menu-button {
  /* 初期状態 */
}
.menu-button__close {
  opacity: 0;
  transform: translate(-50%, -50%) rotate(-90deg);
}
.menu-button {
  /* 開いた状態 */
}
.menu-button.is-open {
  background-color: transparent;
  border: 1px solid #FFFFFF;
}
.menu-button.is-open .menu-button__hamburger {
  opacity: 0;
}
.menu-button.is-open .menu-button__close {
  opacity: 1;
  transform: translate(-50%, -50%) rotate(0deg);
}
.menu-button {
  /* 閉じるアニメーション */
}
.menu-button.is-close .menu-button__bar:nth-child(1) {
  animation: barTop 0.4s ease;
}
.menu-button.is-close .menu-button__bar:nth-child(3) {
  animation: barBottom 0.4s ease;
}

/* 上バー回転 */
@keyframes barTop {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* 下バー回転 */
@keyframes barBottom {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
  border-radius: 50px;
  border: 2px solid transparent;
  text-decoration: none;
  transition: all 0.3s ease;
}
.button:hover {
  opacity: 0.8;
}
.button--full {
  display: flex;
}
.button--white {
  background-color: #FFFFFF;
  color: #236DE3;
  font-weight: bold;
}
.button--white:hover {
  background-color: #236DE3;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  margin-bottom: 40px;
}
.section-header__title {
  font-size: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #236DE3;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0;
}
.section-header__lead {
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.section-header__lead::before {
  content: "ー";
  font-weight: normal;
  margin-right: 4px;
}
.section-header--white .section-header__title,
.section-header--white .section-header__lead {
  color: #FFFFFF;
}
.section-header--white .section-header__lead::before {
  content: "";
}

@media (max-width: 895px) {
  .drawer__inner {
    max-width: 400px;
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 80px;
  }
  .drawer__logo {
    width: 150px;
  }
  .drawer__list {
    gap: 30px;
  }
  .drawer__item {
    font-size: 20px;
  }
  .drawer__subitem {
    font-size: 15px;
  }
  .menu-button {
    width: 40px;
    height: 40px;
  }
  .section-header__title {
    font-size: 32px;
    letter-spacing: 5px;
  }
}
/* ============================================================
    Project
============================================================ */
.hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  display: flex;
}
.hero__left {
  flex: 0 0 550px;
  background: linear-gradient(to bottom, #236DE3, #6EE2F5);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}
.hero__right {
  flex: 1;
  background-image: url("./img/top/mv_pc.jpg");
  background-size: cover;
  background-position: center;
}
.hero__title {
  color: #FFFFFF;
  z-index: 3;
  font-size: 40px;
  line-height: 1.5;
  text-shadow: 0px 0px 5px #0E5ED3;
}
.hero__description {
  color: #FFFFFF;
  z-index: 3;
  font-size: 16px;
  line-height: 2;
  font-weight: bold;
  text-shadow: 0px 0px 5px #0E5ED3;
}

.vision__image {
  max-width: 1000px;
  width: 100%;
  background-image: url("./img/top/vision.jpg");
  background-size: contain;
  background-position: center;
  border-radius: 16px;
}
.vision__content {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}
.vision__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8;
}

.mission {
  position: relative;
}
.mission::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #F7F9FC;
  z-index: -2;
}
.mission__list {
  list-style: none;
}
.mission__list--numbered {
  counter-reset: mission-counter;
}
.mission__list--numbered li {
  counter-increment: mission-counter;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.mission__list--numbered li::marker {
  content: counter(mission-counter, decimal-leading-zero) " /  ";
  font-size: 15px;
  font-weight: normal;
}
.mission__text {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
}
.mission__signature-inner {
  display: flex;
  justify-content: flex-end;
}
.mission__signature-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mission__signature {
  line-height: normal;
  font-size: 15px;
}
.mission__signature-name {
  margin-top: 0;
  font-size: 25px;
  letter-spacing: normal;
  font-family: "YoMincho", serif;
}

.company__info {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 20px;
}
.company__term {
  font-weight: bold;
}
.company__term, .company__description {
  letter-spacing: 1.5px;
}
.company__list {
  margin: 0;
  padding-left: 20px;
  line-height: 1.8;
}

.policy {
  letter-spacing: 1.5px;
  line-height: 30px;
}
.policy .page-section {
  padding-top: 80px;
}
.policy a {
  color: #236DE3;
}
.policy a:hover {
  cursor: pointer;
}

.policy-section__title {
  margin-top: 50px;
  margin-bottom: 20px;
}
.policy-section__list {
  list-style-type: none;
  padding: 0;
}
.policy-section__list .policy-section__item {
  position: relative;
  padding-left: 1.5em;
}
.policy-section__list .policy-section__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.6em;
  width: 0.7em;
  height: 0.7em;
  background: #000000;
}
.policy-section__sublist {
  list-style-type: disc;
}

.update__item a {
  display: block;
}

@media (max-width: 895px) {
  .hero {
    display: block;
    background-image: url("./img/top/mv_sp.jpg");
    background-size: cover;
    background-position: center;
  }
  .hero__left {
    background: none;
    flex: none;
    width: 100%;
    display: block;
    padding: 80px 0 0 16px;
  }
  .hero__right {
    display: none;
  }
  .hero__title {
    font-size: 32px;
  }
  .hero__description {
    font-size: 14px;
  }
  .vision__content {
    display: block;
  }
  .vision__text {
    font-size: 14px;
  }
  .mission__text {
    font-size: 14px;
  }
  .mission__signature {
    font-size: 13px;
  }
  .mission__signature-name {
    font-size: 22px;
  }
  .company__term, .company__description {
    font-size: 14px;
  }
  .company__description {
    margin-left: 3px;
  }
  .company__list {
    padding-left: 18px;
  }
  .policy__text {
    font-size: 14px;
  }
  .policy .page-section {
    padding: 20px 40px;
  }
  .policy .policy-section {
    font-size: 14px;
  }
  .policy .policy-section__title {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */