@charset "UTF-8";
/* =========================
    Variables
========================= */
/* =========================
    Base
========================= */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  color: #333333;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

/* =========================
    Layout
========================= */
.page-section {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 80px 80px 80px;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 100;
}
.header__inner {
  max-width: 1366px;
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.main {
  max-width: 1366px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
}
.hero__left {
  flex: 0 0 550px;
  background: linear-gradient(to bottom, #236DE3, #6EC1FF);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}
.hero__right {
  flex: 1;
  background-image: url("./img/top/mv_pc.jpg");
  background-size: cover;
  background-position: center;
}
.hero__title {
  color: white;
  z-index: 3;
  font-size: 40px;
  line-height: 1.5;
  text-shadow: 0px 0px 5px #0E5ED3;
}
.hero__description {
  color: white;
  z-index: 3;
  font-size: 16px;
  line-height: 2;
  font-weight: bold;
  text-shadow: 0px 0px 5px #0E5ED3;
}

.mission {
  background-color: #F7F9FC;
}

.contact {
  background-color: #236DE3;
}

.footer {
  max-width: 1366px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media (max-width: 895px) {
  .header__logo {
    width: 120px;
  }
  .hero {
    display: block;
    background-image: url("./img/top/mv_sp.jpg");
    background-size: cover;
    background-position: center;
  }
  .hero__left {
    background: none;
    flex: none;
    width: 100%;
    display: block;
    padding: 80px 0 0 16px;
  }
  .hero__right {
    display: none;
  }
  .hero__title {
    font-size: 32px;
  }
  .hero__description {
    font-size: 14px;
  }
}
/* =========================
    Component
========================= */
.menu-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: none;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.menu-button:hover {
  opacity: 1;
}
.menu-button__bar {
  width: 18px;
  height: 1.5px;
  background-color: #236DE3;
}

.drawer {
  display: none;
}

@media (max-width: 895px) {
  .menu-button {
    width: 40px;
    height: 40px;
  }
  .menu-button__bar {
    width: 12px;
  }
}
.header__logo {
  display: block;
  width: 173px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  margin-bottom: 40px;
}
.section-header__title {
  font-size: 50px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #236DE3;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin: 0;
}
.section-header__lead {
  font-weight: bold;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}
.section-header__lead::before {
  content: "ー";
  font-weight: normal;
  margin-right: 4px;
}

.vision__image {
  max-width: 1000px;
  width: 100%;
  background-image: url("./img/top/vision.jpg");
  background-size: contain;
  background-position: center;
  border-radius: 16px;
}
.vision__content {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}
.vision__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.8;
}

.mission__list {
  list-style: none;
}
.mission__list--numbered {
  counter-reset: mission-counter;
}
.mission__list--numbered li {
  counter-increment: mission-counter;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
.mission__list--numbered li::marker {
  content: counter(mission-counter, decimal-leading-zero) " /  ";
  font-size: 15px;
  font-weight: normal;
}
.mission__text {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 30px;
}
.mission__signature-inner {
  display: flex;
  justify-content: flex-end;
}
.mission__signature-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mission__signature {
  line-height: normal;
  font-size: 15px;
}
.mission__signature-name {
  margin-top: 0;
  font-size: 25px;
  letter-spacing: normal;
  font-family: "YoMincho", serif;
}

.company dt, .company dd {
  letter-spacing: 1.5px;
}
.company dt {
  font-weight: bold;
}
.company__info {
  display: grid;
  grid-template-columns: 70px 1fr;
  gap: 20px;
}
.company__business ul {
  margin: 0;
  padding-left: 20px;
  line-height: 1.8;
}/*# sourceMappingURL=style.css.map */