@charset "UTF-8";

/* =========================
    Variables
========================= */
$header-height: 80px;
$menu-button-size: 60px;
$bar-width: 18px;
$bar-height: 1.5px;
$bar-gap: 4px;
$hero-left-width: 550px;
$hero-right-width: 1187px;

$primary-key-color: #236DE3;
$gradient-color: #6EE2F5;
$background-color1: #FFFFFF;
$background-color2: #F7F9FC;


/* =========================
    Base
========================= */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    color: #333333;
    background-color: $background-color1;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}
/* =========================
    Layout
========================= */

.page-section {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 120px 80px 80px 80px;
}

.header {
    width: 100%;
    height: $header-height;
    position: fixed;
    z-index: 100;

    &__inner {
        max-width: 1366px;
        padding: 0 16px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}


.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;


    &__left {
        flex: 0 0 $hero-left-width;
        background: linear-gradient(to bottom,$primary-key-color,$gradient-color);
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 60px;
    }

    &__right {
        flex: 1;
        background-image: url('./img/top/mv_pc.jpg');
        background-size: cover;
        background-position: center;
    }

    &__title {
    color: #FFFFFF;
    z-index: 3;
    font-size: 40px;
    line-height: 1.5;
    text-shadow: 0px 0px 5px #0E5ED3;
    }
  
    &__description {
    color: #FFFFFF;
    z-index: 3;
    font-size: 16px;
    line-height: 2.0;
    font-weight: bold;
    text-shadow: 0px 0px 5px #0E5ED3;
    }

}

.mission {
    background-color: $background-color2;
}

.footer {

    &__contact {
        background-image: url(img/common/bg_pattern_02.png),
        linear-gradient(to right, $primary-key-color, $gradient-color);

        .page-section {
            padding-top: 60px;
        }
    }

    &__nav {
        background-color: $primary-key-color;

        .page-section {
            padding-top: 50px;
        }
    }
}



@media (max-width: 895px) {
    .header {
        &__logo {
            width: 120px;
        }
    }

    .hero {
        display: block;
        background-image: url('./img/top/mv_sp.jpg');
        background-size: cover;
        background-position: center;

        &__left {
            background: none;
            flex: none;
            width: 100%;
            display: block;
            padding: $header-height 0 0 16px;
        }

        &__right {
            display: none;
        }

        &__title {
            font-size: 32px;
        }

        &__description {
            font-size: 14px;
        }
    }
}





/* =========================
    Component
========================= */




.menu-button {
    width: $menu-button-size;
    height: $menu-button-size;
    border-radius: 50%;
    background-color: $background-color1;
    border: none;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    display: flex;
    flex-direction: column;
    gap: $bar-gap;
    align-items: center;
    justify-content: center;

    &:hover {
        opacity: 1;
    }

    &__bar {
        width: $bar-width;
        height: $bar-height;
        background-color: $primary-key-color;
        
    }
}

.drawer {
    display: none;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    border-radius: 50px;
    border: 2px solid transparent;
    text-decoration: none;
    transition: all 0.3s ease;

    :hover {
        opacity: 0.8;
    }

    &--full {
        display: flex;
    }

    &--white {
        background-color: #FFFFFF;
        color: $primary-key-color;
        font-weight: bold;

        &:hover {
            background-color: $primary-key-color;
            color: #FFFFFF;
            border: 2px solid #FFFFFF;
        }
    }
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    margin-bottom: 40px;

    &__title {
        font-size: 50px;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        color: $primary-key-color;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin: 0;
    }

    &__lead {
        font-weight: bold;
        font-family: 'Lato', sans-serif;
        font-size: 14px;

        &::before {
            content: "ー";
            font-weight: normal;
            margin-right: 4px;

        }
    }

    &--white {
        .section-header__title,
        .section-header__lead {
            color: #FFFFFF;
        }

        .section-header__lead::before {
            content: "";
        }
    }
}

@media (max-width: 895px) {
    .menu-button {
        width: $menu-button-size * 2 / 3;
        height: $menu-button-size * 2 / 3;
        
        &__bar {
            width: $bar-width * 2 / 3;
        }
    }

}

.header {

    &__logo {
        display: block;
        width: 173px;

        & img {
            width: 100%;
            height: 100%;
        }
    }
}

.vision {

    &__image {
        max-width: 1000px;
        width: 100%;
        background-image: url('./img/top/vision.jpg');
        background-size: contain;
        background-position: center;
        border-radius: 16px;
    }
    &__content {
        display: flex;
        gap: 32px;
        margin-top: 32px;
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 1.8;
    }
}

.mission {

    &__list {
        list-style: none;
    }

    &__list--numbered {
        counter-reset: mission-counter;
    
        li {
            counter-increment: mission-counter;
            padding: 10px;
            font-size: 20px;
            font-weight: bold;

            &::marker {
                content: counter(mission-counter, decimal-leading-zero)" /  ";
                font-size: 15px;
                font-weight: normal;
            }
        }
    }

    &__text {
        font-size: 16px;
        letter-spacing:2px;
        line-height: 30px;
    }

    &__signature-inner {
        display: flex;
        justify-content: flex-end
    }

    &__signature-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__signature {
        line-height: normal;
        font-size: 15px;
    }

    &__signature-name {
        margin-top: 0;
        font-size: 25px;
        letter-spacing: normal;
        font-family: "YoMincho", serif;
    }
}

.company {
    
    &__info {
        display: grid;
        grid-template-columns: 70px 1fr;
        gap: 20px;
    }
    
    &__term {
        font-weight: bold;
    }
    
    &__term,
    &__description {
        letter-spacing: 1.5px;
    }

    &__list {
            margin: 0;
            padding-left: 20px;
            line-height: 1.8;
        }
}

.footer {
    
    &__nav {
        color: #FFFFFF;
    }

    &__list {
        list-style: none;

        a {
            text-decoration: none;
        }

        ul {
            list-style: none;
            margin: 0;
            padding-left: 20px;
            line-height: 1.8;
        }
    }
}